<header class="site-header">
  <div class="gcer-banner" style="height: 30px; width: 100%; background-color: #002269"></div>

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <ul id="navigation" class="sm sm-mint" style="display: block;">
        {% for navitem in site.data.navigation %}
        <li>
        <a href="{{ navitem.url }}">{{ navitem.name }}</a>
        <ul>
          {% for subnavitem in navitem.sublinks %}
          <li>
          <a href="{{ subnavitem.url }}">{{ subnavitem.name }}</a>
          </li>
          {% endfor %}
        </ul>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>

<div class="carousel">
  <div><img src="/assets/images/one.jpg" /></div>
  <div><img src="/assets/images/two.jpg" /></div>
  <div><img src="/assets/images/three.jpg" /></div>
  <div><img src="/assets/images/four.jpg" /></div>
</div>

<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').slick({
      dots: false,
      arrows: false,
      infinite: true,
      fade: true,
      autoplay: true,
      autoplaySpeed: 6000,
      cssEase: 'linear'
    });

    $('#navigation').smartmenus();
  });
</script>
