@media screen and (max-width: 960px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

  /* START Fellows page. */
  .people .group {
    text-align: center;
  }

  .people .person {
    float: none;
    height: auto;
    margin: 20px auto 40px auto;
    border-bottom: 1px solid #000;
  }

  .people .picture {
    float: none;
    margin-right: 0px;
  }
  /* END Fellows page. */
}
