<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}
	
    <div class="page-content">

	<div class="left-panel">
  		<div class="announcements">
    		<h2>Announcements</h2>

    		<a class="post-link" href="{{ site.baseurl }}/news/all#/2014/05/30/Bouton-NBER">Call for papers for the third GCER-IZA Young Scholar Program to be held on September 21-26, 2014.</a>
  		</div>
	</div>

      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
